@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');

body {
    font-family: 'Padauk', sans-serif;
}

.intro-container {
    margin: 2rem;
}

.main-container {
    display: flex; 
    justify-content: center;
    margin: 3rem;
}

#homepage {
    display: flex; 
    flex-direction: column;
    text-align: justify;
    align-items: center;
}

#about {
    text-align: justify;
    justify-content: space-evenly;
}

main#photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 2rem;
}

.about-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

img.profile {
    max-width: 350px;
    height: auto;
    border-radius: 10px;
}

.img-container {
    display: inline-block;
    margin: 0.5rem;
}

img.destination {
    width: auto;
    height: 270px;
    border-radius: 5px;
}

input {
    margin: .5rem;
}

form {
    border: lightgrey 1px solid;
    padding: 0.5rem;
}

.scroll-to-top {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 2rem;
    margin-right: 0.5rem;
}

button.scroll-up {
    font-size: 2rem;
    border: none;
    background: none;
    margin-bottom: 10px;
    animation: hover-vertical 2s ease infinite;
    position: relative;
    color: rgb(131, 36, 255);
}

@keyframes hover-vertical {
    0%, 100% {
      top: 0;
    }
  
    50% {
      top: 20px;
    }
}