/* font-family: 'Bad Script', cursive;
font-family: 'Playfair Display', serif; */

html,body{
    margin:0;
}

body {
    font-family: 'Playfair Display', serif;
}

.intro-container {
    margin: 2rem;
}

.main-container {
    display: flex; 
    justify-content: center;
    margin: 3rem;
}

#homepage {
    display: flex; 
    flex-direction: column;
    text-align: justify;
    align-items: center;
    height: 70vh;
}

#homepage p {
    width: 60%;
    margin: 2rem;
}


#about {
    text-align: justify;
    align-items: center;
    animation: about-load ease-in 300ms;
}

#visited {
    animation: visited-load ease-in 300ms;
}

@keyframes about-load {
    0% {
      transform: translateY(-400px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
}

@keyframes visited-load {
    0% {
      transform: translateX(-400px);
      opacity: 0;
    }
  
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
}

main#photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 2rem;
    animation: intro-load ease-in 300ms;
}

h5, p {
    font-family: 'Bad Script', cursive;
    font-weight: 600;
    letter-spacing: 1px;
}

.about-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

img.profile {
    width: 350px;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
}

.img-container {
    display: inline-block;
    margin: 0.5rem;
}

img.destination {
    width: auto;
    height: 270px;
    border-radius: 5px;
}

input {
    margin: .5rem;
}

form {
    border: lightgrey 1px solid;
    padding: 0.5rem;
}

.scroll-to-top {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 2rem;
    margin-right: 0.5rem;
}

button.scroll-up, button.see-about, button.see-visited {
    cursor: pointer;
    font-size: 2rem;
    border: none;
    background: none;
    margin-bottom: 10px;
    position: relative;
    color: rgb(131, 36, 255);
}

button.scroll-up, button.see-about {
    animation: hover-vertical 2s ease infinite;
}

button.see-visited {
    animation: hover-horizontal 2s ease infinite;
}

@keyframes hover-vertical {
    0%, 100% {
      top: 0;
    }
  
    50% {
      top: 20px;
    }
}

@keyframes hover-horizontal {
    0%, 100% {
      right: 0;
    }
  
    50% {
      right: 20px;
    }
}

@media only screen and (max-width: 800px) {

    h1 {
        margin-top: 5rem;
        text-align: center;
        font-size: large;
    }

    img.destination {
        width: 100%;
        height: auto;
    }
    
    #about {
        display: flex;
        flex-direction: column;
    }

    .about-text {
        width: 100%;
        padding: 0;
    }

    #homepage p {
        width: 90%;
        margin-bottom: 3rem;
    }
    
    .main-container {
        margin: 0;
    }

    iframe {
        width: 100%;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    form button {
        margin-top: 0.5rem;
    }

    h5, p, section {
        padding: 2rem;
    }
}